<h3 class="text-{{alerta}}">Sintaxis de ngSwitch y cambio de case con botones</h3>

// formato base de ngSwitch
<div [ngSwitch]='alerta'>
    <div *ngSwitchCase="'success'">success</div>
    <div *ngSwitchCase="'info'">info</div>
    <div *ngSwitchCase="'warning'">warning</div>
    <div *ngSwitchDefault>danger</div>
</div>

<button type="button" (click)="alerta='success'" class="btn btn-success m-3">success</button>
<button type="button" (click)="alerta='info'" class="btn btn-info m-3">info</button>
<button type="button" (click)="alerta='warning'" class="btn btn-warning m-3">warning</button>
<button type="button" (click)="alerta='danger'" class="btn btn-danger m-3">danger</button>

<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
</div>